
###> symfony/framework-bundle ###
/.env.local
.env
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var
/vendor
/credentials.json
### < symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
#s/node_modules/
#s/public/build/
#snpm-debug.log
#syarn-error.log
###< symfony/webpack-encore-bundle ###
