.next-research-button,.previous-research-button{
  height:30px;
  padding:0;
  img{
    height:30px !important;
    width: 30px !important;
  }
}

.discogs-query-control-pannel{
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.discogs-response-section{
  margin : 50px;
  .discogs-result-display{
    height: 300px;
    height: 300px;
    img{
      width: 200px;
      max-height: 200px;
      margin-left: 118px;
    }
    p{
      margin-left: 118px;
    }
  }

}

.hidden-links-div{
  display:none;
}
