{% extends 'base.html.twig' %}

{% block content %}

    <nav class="navbar">
        <ul>
            <li><a href={{ path('index') }} id='landing_link'>Culture Club</a></li>
        </ul>
    </nav>
    {% block page_content %}

    {% endblock %}
{% endblock %}

